

<ul>
    <li> Name: <%= cat.name %> </li>
    <li> Birthday: <%= cat.birth_date %> </li>
    <li> Age: <%= cat.age %> </li>
    <li> Color: <%= cat.color %> </li>
    <li> Sex: <%= cat.sex %> </li>
    <li> Description: <%= cat.description %></li>
 <br>
 <br>
</ul>